scripts/backup/n8n/MyFinanceBackup-Daily.json
{
  "name": "MyFinanceBackup-Daily",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 2 * * *"
            }
          ]
        },
        "timezone": "America/Bogota"
      }
    },
    {
      "id": "http-run-daily",
      "name": "POST /run/daily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "http://myfinance-backup-runner:8080/run/daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runner-Secret",
              "value": "={{ $credentials.runnerSecret }}"
            }
          ]
        },
        "options": {
          "timeout": 1200000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "check-response",
      "name": "Check HTTP Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "POST /run/daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /run/daily": {
      "main": [
        [
          {
            "node": "Check HTTP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "MyFinanceBackup-ErrorHandler"
  },
  "tags": ["backup", "myfinance"]
}
