scripts/backup/n8n/MyFinanceBackup-Watchdog.json
{
  "name": "MyFinanceBackup-Watchdog",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        },
        "timezone": "America/Bogota"
      }
    },
    {
      "id": "get-status",
      "name": "GET /status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "http://myfinance-backup-runner:8080/status",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "check-staleness",
      "name": "Check Staleness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const status = $input.first().json.body || $input.first().json;\nconst now = Date.now();\nconst THIRTY_HOURS_MS = 30 * 60 * 60 * 1000;\nconst FOUR_HUNDRED_DAYS_MS = 400 * 24 * 60 * 60 * 1000;\n\nconst alerts = [];\n\n// Check last backup success\nif (!status.lastSuccess || !status.lastSuccess.timestamp) {\n  alerts.push({ type: 'backup_stale', detail: 'No successful backup on record' });\n} else {\n  const lastSuccessAge = now - new Date(status.lastSuccess.timestamp).getTime();\n  if (lastSuccessAge > THIRTY_HOURS_MS) {\n    alerts.push({ type: 'backup_stale', detail: `Last success was ${Math.round(lastSuccessAge/3600000)}h ago` });\n  }\n}\n\n// Check last verify\nif (!status.lastVerify || !status.lastVerify.timestamp) {\n  alerts.push({ type: 'verify_stale', detail: 'No successful verify on record' });\n} else {\n  const lastVerifyAge = now - new Date(status.lastVerify.timestamp).getTime();\n  if (lastVerifyAge > THIRTY_HOURS_MS) {\n    alerts.push({ type: 'verify_stale', detail: `Last verify was ${Math.round(lastVerifyAge/3600000)}h ago` });\n  }\n}\n\n// Check disaster drill cadence (finding #5 fix)\n// The /status endpoint exposes lastDrill (null if status/last-drill.json is missing)\nif (!status.lastDrill || !status.lastDrill.timestamp) {\n  alerts.push({ type: 'drill_overdue', detail: 'No disaster drill on record. Perform the annual drill per scripts/backup/README.md §2.5.7 and upload last-drill.json to R2.' });\n} else {\n  const lastDrillAge = now - new Date(status.lastDrill.timestamp).getTime();\n  if (lastDrillAge > FOUR_HUNDRED_DAYS_MS) {\n    alerts.push({ type: 'drill_overdue', detail: `Last drill was ${Math.round(lastDrillAge/86400000)} days ago. Annual drill overdue. See scripts/backup/README.md §2.5.7.` });\n  }\n}\n\nreturn [{ json: { alerts, status, hasAlerts: alerts.length > 0 } }];"
      }
    },
    {
      "id": "has-alerts",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alerts-check",
              "leftValue": "={{ $json.hasAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dispatch-alert",
      "name": "Dispatch Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, 220],
      "parameters": {
        "workflowId": "MyFinanceBackup-DispatchAlert",
        "options": {},
        "workflowInputs": {
          "value": {
            "title": "={{ 'MyFinance backup STALE — ' + $json.alerts.map(a => a.type).join(', ') }}",
            "body": "={{ JSON.stringify($json.alerts, null, 2) + '\\n\\nFull status: ' + JSON.stringify($json.status, null, 2) }}"
          },
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET /status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /status": {
      "main": [
        [
          {
            "node": "Check Staleness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Staleness": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Dispatch Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "MyFinanceBackup-ErrorHandler"
  },
  "tags": ["backup", "myfinance"]
}
